<div class="container">

  <h2><%= @event.name %></h2>

  <table>
    <tr>
      <th>Location</th>
      <th>Starts at</th>
      <th>Ends at</th>
      <th>Created by</th>
    </tr>
      <tr>
        <td><a href='https://www.google.com/maps/preview#!q=<%= @event.location %>'><%= @event.location %></a></td>
        <td><%= @event.starts_at %></td>
        <td><%= @event.ends_at %></td>
        <td><a href='/user/<%= @event.user_id %>'><%= User.find(@event.user_id).first_name %> <%= User.find(@event.user_id).last_name %></a></td>
        <% if @event.user_id == session[:user_id] %><td><a href='edit/<%= @event.id %>'>Edit this event</a></td><% end %>
      </tr>
  </table>

</div>