<div class="container">
  <h1>Events, MoFo!</h1>
  <p>These are your events.  There are many like them, but these ones are yours.</p>

  <table>
    <tr>
      <th>Event Name</th>
      <th>Location</th>
      <th>Starts at</th>
      <th>Ends at</th>
      <th>Created by</th>
    </tr>
    <% Event.all.each do |event| %>
      <tr>
        <td><a href='/event/<%= event.id %>'><%= event.name %></a></td>
        <td><a href='https://www.google.com/maps/preview#!q=<%= event.location %>'><%= event.location %></a></td>
        <td><%= event.starts_at %></td>
        <td><%= event.ends_at %></td>
        <td><a href='/user/<%= event.user_id %>'><%= User.find(event.user_id).first_name %> <%= User.find(event.user_id).last_name %></a></td>
      </tr>
    <% end %>
  </table>
</div>
