<div class="container">

  <h2><%= @user.first_name %> <%= @user.last_name %>'s Events</h2>

  <table>
    <tr>
      <th>Event Name</th>
      <th>Location</th>
      <th>Starts at</th>
      <th>Ends at</th>
    </tr>
    <% Event.all.each do |event| %>
      <% if event.user_id == @user.id %>
        <tr>
          <td><a href='/event/<%= event.id %>'><%= event.name %></a></td>
          <td><a href='https://www.google.com/maps/preview#!q=<%= event.location %>'><%= event.location %></a></td>
          <td><%= event.starts_at %></td>
          <td><%= event.ends_at %></td>
        </tr>
      <% end %>
    <% end %>
  </table>

</div>