<div class="container">

  <h2><%= @user.first_name %> <%= @user.last_name %>'s Events</h2>

  <table id="events">
    <tr>
      <th>Event Name</th>
      <th>Location</th>
      <th>Starts at</th>
      <th>Ends at</th>
    </tr>
    <% Event.all.each do |event| %>
      <% if event.user_id == @user.id %>
        <tr>
          <td><a href='/event/<%= event.id %>'><%= event.name %></a></td>
          <td><a href='https://www.google.com/maps/preview#!q=<%= event.location %>' target='_blank'><%= event.location %></a></td>
          <td><%= event.starts_at %></td>
          <td><%= event.ends_at %></td>
          <% if @user.id == session[:user_id] %><td><a href='/edit/<%= event.id %>'>Edit this event</a></td><% end %>
        </tr>
      <% end %>
    <% end %>
  </table>

  <div id="new_event">
    <% if @user.id == session[:user_id] %>
      <h3>Create New Event</h3>

      <form id="new-event" method="post" action="/events">
        <input type="hidden" name="event[user_id]" value="<%= session[:user_id] %>">

        <label class="label">Event Name
        <input type="text" name="event[name]" placeholder="enter your event's name" ></label>
        <br>

        <label class="label">Location
        <input type="text" name="event[location]" placeholder="enter your event's location" ></label>
        <br>

        <label class="label">Starting Date & Time
        <input type="datetime" name="event[starts_at]" placeholder="enter the date/time your event starts at" ></label>
        <br>

        <label class="label">Ending Date & Time
        <input type="datetime" name="event[ends_at]" placeholder="enter the date/time your event ends at"></label>
        <br>

        <div class="submit"><input type="submit" value="Create Your Event"></div>
      </form>
    
    <% end %>
  </div>

</div>